html,body {
    background-color: #ffffff;
}
.divgray {
    background-color: #f8f8f8;
    color: #0a115f;
    padding: 1em;
}

.divwhite {
    background-color: #ffffff;
    color: #0a115f;
    padding: 1em;
}

.h-need-help, div.card-header h5 {
    text-align: left;
    font-weight: 700;
}
.h-need-help {
    padding-top: 0.5em;
}
h4, div.card-header h5 {
    color: #0a115f;
}
a.faq-sobre-link, a.faq-sobre-link:visited, a.faq-sobre-link:hover, a.faq-sobre-link:active {
    color: #f982b4
}
.card, .card-header {
    background: none;
    border:none;
    padding-left: 0;
    padding-right: 0;
}
.btn-back-faq, .btn-back-faq:visited, .btn-back-faq:active,.btn-back-faq:hover {
    color: #f982b4;
}